*.pyc
*.log
.var/app/org.libreoffice.LibreOffice/cache/
.var/app/org.libreoffice.LibreOffice/config/libreoffice/4/cache/
.var/app/org.libreoffice.LibreOffice/.ld.so/
.var/app/org.libreoffice.LibreOffice/config/libreoffice/4/user/additions/
.var/app/org.libreoffice.LibreOffice/config/libreoffice/4/user/autotext/
.var/app/org.libreoffice.LibreOffice/config/libreoffice/4/user/backup/
.var/app/org.libreoffice.LibreOffice/config/libreoffice/4/user/basic/
.var/app/org.libreoffice.LibreOffice/config/libreoffice/4/user/database/
.var/app/org.libreoffice.LibreOffice/config/libreoffice/4/user/gallery/
.var/app/org.libreoffice.LibreOffice/config/libreoffice/4/user/pack/
.var/app/org.libreoffice.LibreOffice/config/libreoffice/4/user/uno_packages/
.var/app/org.libreoffice.LibreOffice/data/
.var/app/org.libreoffice.LibreOffice/config/libreoffice/4/user/extensions/tmp/
.config/GIMP/3.0/tool-options
.config/GIMP/3.0/internal-data
/.config/mpv/chapters
.config/waybar/colors.css
.config/swayosd/colors.css
.config/swaync/colors.css
.config/background
.config/rofi/themes/colors.rasi
.config/sway/colors.conf
.config/hypr/colors.conf
.var/app/app.zen_browser.zen
.var/app/io.github.kolunmi.Bazaar
.local/share/applications
.var/app/com.github.tenderowl.frog
.var/app/com.mattjakeman.ExtensionManager
.var/app/dev.vencord.Vesktop
.var/app/org.gimp.GIMP
.var/app/org.telegram.desktop
.local/bin/ABDownloadManager
.config/GIMP/3.0/CrashLog
.config/GIMP/3.0/plug-in-settings
.local/bin/google
.local/bin/h4xtools
.local/bin/lolcat
.var/app/com.github.finefindus.eyedropper
.var/app/com.usebottles.bottles
.var/app/it.mijorus.gearlever
.var/app/com.protonvpn.www
.config/gtk-4.0/colors.css
.config/gtk-3.0/colors.css
.local/bin/f2py
.local/bin/faker
.local/bin/numpy-config
.local/bin/sherlock
.local/bin/tor-prompt
.config/mpv/fonts
.config/mpv/scripts
.var/app/page.tesk.Refine
.local/bin/pipx
.local/bin/userpath
.config/swaync/coffice_state
.config/waybar/.power_mode_state
