* {
    bg:         #191a22;
    bg1:        #64667B;
    bg2:        #745F99;
    bg3:        #5F6480;
    bg4:        #686D88;
    fg:         #b7b9c6;
    fg1:        #b7b9c6;
    ac:         #9274C0;
    se:         #7C809C;
    al:         #00000000;
}
