/* ---- Global Configuration Fonts ---- */
@import "~/.config/rofi/themes/fonts.rasi"

/* note: Main themes in ~/.config/rofi/themes */
/* You can manually change here or you can use rofi theme selector SUPER SHIFT E */


@theme "~/.config/rofi/clipboard-monitor.rasi"

@theme "~/.config/rofi/themes/icons.rasi"
