// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
spawn-sh-at-startup "waybar"
spawn-sh-at-startup "nm-applet --indicator"
spawn-at-startup "swww-daemon"
spawn-sh-at-startup "systemctl --user import-environment DISPLAY WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-sh-at-startup "dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-sh-at-startup "gnome-keyring-daemon --start --components=secrets"
spawn-sh-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
// spawn-sh-at-startup "swaync"
spawn-sh-at-startup "swayosd-server"
spawn-at-startup "kdeconnectd"
spawn-at-startup "kdeconnect-indicator"
spawn-at-startup "~/.config/waybar/scripts/check-updates.sh"
spawn-sh-at-startup "swaybg -i ~/.config/blurred-background -m fill"
spawn-sh-at-startup "~/.config/niri/scripts/idle.sh"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
