// Keybinding configuration for niri

binds {
    Mod+O hotkey-overlay-title="Toggle Overview" { toggle-overview; }
    Mod+Return hotkey-overlay-title="Open Terminal (Ghostty)" {spawn "ghostty";}
    Mod+E hotkey-overlay-title="Open File Manager (Nautilus)" {spawn "nautilus";}
    Mod+B hotkey-overlay-title="Open Browser (Zen)" {spawn "flatpak" "run" "app.zen_browser.zen";}
    Mod+Space hotkey-overlay-title="Open Main Menu (Rofi)" {spawn "~/.config/rofi/bin/app-menu";}
    Mod+Shift+R hotkey-overlay-title="Reload All (Custom Script)" {spawn "~/.local/bin/reload_all";}
    Mod+V hotkey-overlay-title="Clipboard Monitor" {spawn "~/.config/rofi/bin/clipboard_monitor";}
    Mod+Period hotkey-overlay-title="Emoji Selector" {spawn "~/.config/rofi/bin/emoji_selector";}
    Mod+W hotkey-overlay-title="Wallpaper Selector" {spawn "~/.config/rofi/bin/set-wallpaper";}
    Mod+Shift+F hotkey-overlay-title="File Search (fd)" {spawn "~/.config/rofi/bin/rofi-fd-search";}
    Mod+Alt+M hotkey-overlay-title="Open YouTube Music AppImage" {
    spawn "env" "DESKTOPINTEGRATION=1" "/home/sabamdarif/AppImages/youtube_music.appimage" "--no-sandbox";
    }
    Mod+Alt+D hotkey-overlay-title="Open Vesktop" {spawn "flatpak" "run" "dev.vencord.Vesktop";}
    Mod+Alt+T hotkey-overlay-title="Open Telegram" {spawn "flatpak" "run" "org.telegram.desktop";}
    Mod+S hotkey-overlay-title="Settings Menu" {spawn "~/.config/rofi/bin/settings-menu";}

    Mod+Q { close-window; }
    Mod+Shift+L hotkey-overlay-title="Lock screen" { spawn "hyprlock"; }
    Mod+Shift+E { quit; }
    Mod+F { fullscreen-window; }
    Mod+M { maximize-column; }
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Alt+S {spawn "~/.local/bin/monitor-shellcheck"; }

    // focus binds
    Mod+Right { focus-column-right; }
    Mod+Left  { focus-column-left; }
    Mod+Up    { focus-window-up; }
    Mod+Down  { focus-window-down; }

    Mod+L     { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+J     { focus-window-or-workspace-down; }

    // column move binds
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Down  { move-window-down; }

    Mod+Ctrl+L     { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }

    Mod+Comma { consume-window-into-column; }
    Mod+T { consume-or-expel-window-left; }
    Mod+A { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }

    Mod+Shift+Minus { move-workspace-down; }
    Mod+Minus { focus-workspace-down; }

    Mod+Shift+S hotkey-overlay-title="Take Full screenshot" { spawn "~/.config/niri/scripts/screenshot.sh" "--fullscreen"; }
    Mod+Alt+Shift+S hotkey-overlay-title="Select Area And Take screenshot" { spawn "~/.config/niri/scripts/screenshot.sh" "--select-area"; }
    // F12 { spawn "gnome-calculator"; }

    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioNext { spawn "playerctl" "next"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "swayosd-client" "--output-volume" "5"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "swayosd-client" "--output-volume" "-5"; }
    XF86AudioMute allow-when-locked=true { spawn "swayosd-client" "--output-volume" "mute-toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn "swayosd-client" "--input-volume" "mute-toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "swayosd-client" "--brightness" "+2"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "swayosd-client" "--brightness" "-2"; }

    Caps_Lock allow-when-locked=true { spawn "swayosd-client" "--caps-lock"; }
}
